@media (max-width: 599px) {
    body.home{
      background-image: url(images/tool-eye-phone-cutout.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color:black;
    }
    .homenav{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: center;
      margin-top: 700px;

    }
    .homenavitem{
      color:#81020B;
      background-color: #fffA;
      padding: 3px;
      border: 2px solid #5426A2;
      text-decoration: none;
      font-size: 1.5em;
      font-family: Toolfont, fantasy, sans-serif;
      transition: color 0.75s;
    }

    .homenavitem:active{
        color: #5426A2;
      }

    .socialsicon{
      height: 32px;
      width: auto;

    }

    body.pages {
      background-color:#5426A2;
      }

      .mainnav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: Toolfont, Fantasy, sans-serif;
        border-bottom: black 2px solid;
      }

      .navitem{
        color: black;
        text-decoration: none;
        margin: 5px;
        font-size: 3em;
        transition: color 0.75s;
        border-right: solid black 2px;
      }
      .indexnavitem{
        color: black;
        text-decoration: none;
        margin: 5px;
        font-size: 3em;
        transition: color 0.75s;
        border-right: solid black 2px;
        border-left: solid black 2px;
        padding-left: 7px;
      }


      .indexnavitem:hover{
        color: #81020B;
      }
      .navitem:hover{
        color: #81020B;
      }

      h1{
        font-family: fantasy,sans-serif;
        font-size: 3em;
        text-align: center;
      }
      .Tool{
      font-family: Toolfont;
      font-size: 3em;
      }

      .subinputdiv {

        display: flex;
        justify-content: center;
        align-items: center;
      }
      .subinput{
      background: black;
      text-align: center;
      border: none;
      width: 250px;
      appearance: none;
      padding: 5px;
      border-radius: 15%;
      color: #81020B;
      }
      .subinput::placeholder{
        color: #81020B;
      }

      .subbuttondiv{
        display: flex;
        justify-content: center;
        align-items: center;
        }

      .subbutton{
      border:none;
      appearance: none;
      background-color: transparent;
      color: #81020B;
      margin-bottom: 50px;
      font-family: fantasy, sans-serif;
      transition: color 0.75s;
      }
      .subbutton:hover{
      color: #a83840;
      cursor: pointer;
      }

      .socialsbar{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      gap: 2em;
      margin-bottom: 60px;
      }

      div.merchitem {
        margin: 15px;
        border: 1px solid black;
        transition: border 0.75s;
        width: 180px;
      }
      div.merchitemlast{
        display: none;
      }
      div.merchitem:hover{
        border: 2px solid #81020B;

      }
      div.merchitem img {
        width: 100%;
        height: auto;
      }
      .Merch{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
      .desc{
      text-align: center;
      color: #81020B;
      font-family: fantasy, sans-serif;
      }
      .desc:hover{
        cursor: default;
      }


}

@media (min-width: 600px) {

  body.pages {
  background-color:#5426A2;
  }

  .mainnav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Toolfont, Fantasy, sans-serif;
    border-bottom: black 2px solid;
  }

  .navitem{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 3em;
    transition: color 0.75s;
    border-right: solid black 2px;
  }
  .indexnavitem{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 3em;
    transition: color 0.75s;
    border-right: solid black 2px;
    border-left: solid black 2px;
    padding-left: 7px;
  }


  .indexnavitem:hover{
    color: #81020B;
  }
  .navitem:hover{
    color: #81020B;
  }

  h1{
    font-family: fantasy,sans-serif;
    font-size: 3em;
    text-align: center;
  }
  .Tool{
  font-family: Toolfont;
  font-size: 3em;
  }

  .subinputdiv {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subinput{
  background: black;
  text-align: center;
  border: none;
  width: 250px;
  appearance: none;
  padding: 5px;
  border-radius: 15%;
  color: #81020B;
  }
  .subinput::placeholder{
    color: #81020B;
  }

  .subbuttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .subbutton{
  border:none;
  appearance: none;
  background-color: transparent;
  color: #81020B;
  margin-bottom: 50px;
  font-family: fantasy, sans-serif;
  }
  .subbutton:hover{
  color: #a83840;
  cursor: pointer;
  }

  .socialsbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 2em;
  margin-bottom: 60px;
  }




  body.home {
  max-width: 2560px;
  background-image: url(images/Bg-img-toollogo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
  .homenav{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 400px;
    margin-bottom: 20px;
  }

  .homenavitem{
    font-family: Toolfont, fantasy, sans-serif;
    font-size: 4em;
    text-decoration: none;
    color: #81020B;
    transition: color 0.75s;
  }

  .homenavitem:hover{
    color: #5426A2;
  }

  div.merchitem, div.merchitemlast {
    margin: 15px;
    border: 1px solid black;
    width: 180px;
    transition: border 0.5s;
  }
  div.merchitem:hover,div.merchitemlast:hover{
    border: 2px solid #81020B;
  }
  div.merchitem img, div.merchitemlast img {
    width: 100%;
    height: auto;
  }
  .Merch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }

  .desc{
    text-align: center;
    color: #81020B;
    font-family: fantasy, sans-serif;
    }
  .desc:hover{
    cursor: default;
  }





}

.socialsicon{
    height: auto;
    width: 24px;

}
.copyright{
  font-size: 0.5em;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #81020B;
  border-top: solid black 3px;

}

@font-face {
  font-family: Toolfont;
  src: url(fonts/10-000-days-fancy-versiom.otf.woff2);
}

*{ box-sizing: border-box;
}
