@media (max-width: 599px) {
    body.home{
      background-image: url(images/tool-eye-phone-cutout.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
    }
    .homenav{
      display: flex;
      justify-content: space-around;
      align-self: center;
      margin-top: 300px;
    }
    .homenavitem{
      color:#81020B;
      background-color: #fffA;
      padding: 3px;
      border: 2px solid #5426A2;
      text-decoration: none;
      font-size: 2em;
      font-family: Toolfont, fantasy, sans-serif;
      transition: color 0.75s;
    }

    .homenavitem:active{
        color: #5426A2;
      }

    .socialsicon{
      height: 32px;
      width: auto;

    }

}

@media (min-width: 600px) {

  body.subscribe {
  background-color:#5426A2;
  }

  .mainnav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Toolfont, Fantasy, sans-serif;
    border-bottom: black 2px solid;
  }

  .navitem{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 3em;
    transition: color 0.75s;
    border-right: solid black 2px;
  }
  .indexnavitem{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 3em;
    transition: color 0.75s;
    border-right: solid black 2px;
    border-left: solid black 2px;
    padding-left: 7px;
  }


  .indexnavitem:hover{
    color: #81020B;
  }
  .navitem:hover{
    color: #81020B;
  }

  h1{
    font-family: fantasy;
    font-size: 3em;
    text-align: center;
  }

  .subinput {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    appearance: none;
  }

  .subinput::placeholder{
    color: #81020B;
  }




  body.home {
  max-width: 2560px;
  background-image: url(images/Bg-img-toollogo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
  .homenav{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 400px;
    margin-bottom: 20px;
  }

  .homenavitem{
    font-family: Toolfont, fantasy, sans-serif;
    font-size: 4em;
    text-decoration: none;
    color: #81020B;
    transition: color 0.75s;
  }

  .homenavitem:hover{
    color: #5426A2;
  }




}

.socialsicon{
    height: auto;
    width: 24px;

}
.copyright{
  font-size: 0.5em;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #81020B;

}

@font-face {
  font-family: Toolfont;
  src: url(fonts/10-000-days-fancy-versiom.otf.woff2);
}
